<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.qeo.android.library.test"
    android:sharedUserId="org.qeo.android.service"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="9" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="org.qeo" />

    <application
        android:label="@string/app_name" >
        <meta-data
            android:name="org.qeo.rest.google.client.id"
            android:value=""/>
        <meta-data
            android:name="org.qeo.rest.qeo.client.secret"
            android:value=""/>
        <meta-data
            android:name="org.qeo.rest.qeo.client.id"
            android:value="qeo-android-service-test"/>
        <uses-library android:name="android.test.runner" />
        <service android:name="org.qeo.ProcessService" android:process=":remote" android:exported="true" android:enabled="true"></service>
    </application>

</manifest>
