<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.qeo.sample.qbgnschat">

    <uses-sdk
        android:minSdkVersion="9"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/qsimplechat_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="org.qeo.sample.simplechat.android.ChatApplication">

        <meta-data android:name="org.qeo.rest.google.client.id" />
        <meta-data android:name="org.qeo.rest.qeo.client.secret" />
        <meta-data android:name="org.qeo.rest.qeo.client.id" />

        <activity
            android:name="org.qeo.sample.simplechat.android.ChatActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="org.qeo.sample.simplechat.android.ChatService"
            android:exported="false" />
    </application>

</manifest>
